.sideBar {
    background: var(--whiteColor);
    box-shadow: 1px 0px 4px var(--greyText);
    width: 18%;
    /* gap: 3rem; */
    overflow: auto;
    height: 100%;
}

.sideBar {
    /* padding: 1.5rem 1.5rem 0; */
    cursor: pointer;
}
.logoDiv{
    padding-left: 15%;
}
.logoDiv>img {
    max-width: 20px;
    margin-right: var(--inputColor);
    border-radius: 2px;
    padding: .2rem;
    /* border: 1px solid red; */
}
.logoDiv>h2{
    font-size: var(--h2FontSize);color: var(--PrimaryColor);

}

.divTitle{
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 0 1.5rem 1.5rem;
}
.listItem{
    padding: 1rem 2.5rem;
    width: 100%;
    position: relative; 
    /* border: 1px solid red;  */
}
 .listItem ::before{
    position: absolute;
    content: '';
    height: 0%;
    left: 0;
    width: 5px;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--PrimaryColor);
 }
 .listItem ::before{
    position: absolute;
    content: '';
    height: 0%;
    left: 0;
    width: 5px;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--PrimaryColor);
}

.menuLink{
    color: var(--greyText);
    font-weight: 500;

}
.icon{
    margin-right: .5rem;
}

.menuLink{
    color: var(--PrimaryColor);
    transition: 0;
}
.listItem :hover::before{
    height: 100%;
    transition: .3s ease;
}
.sideBarCard{
    /* display: none; */
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;
}
.sideBar>.sideBarCard>.icon{
    position: absolute;
    background: var(--HoverColor);
    border: 10px solid var(--whiteColor);
    font-size: 3rem;
    border-radius: 50%;
    top: -8px;
    right: 50%;
    transform: translate(50%);
    z-index: 100;
}
.cardContent{
    position: relative;
    padding: 1rem;
    background: var(--HoverColor);
    border-radius: 10px;
    overflow: hidden;
}
.cardContent>h3{
    font-size: var(--h3FontSize);
    margin-top: 1rem;
    padding: 1rem 0;
    font-weight:var(--blackColor);
}
.cardContent>p{
    font-size: var(--normalFontSize);
    color: var(--textColor);
    padding-bottom: 1rem;
    font-weight: 500;
}
.btn{
    position: relative;
   color: var(--textColor);
   z-index: 1000;
}
.circle1,
.circle2{
    position: absolute;
    background: var(--paleGreen);
    border-radius: 50%;
    opacity: .7;
}
.circle1{
    height: 100px;
    width: 100px;
    top:-50px;
    left: -50px;
}
.circle2{
    height: 150px;
    width: 150px;
    bottom:-80px;
    right: -70px;
    z-index:1 ;
}

@media screen and (max-width:820px) {
    .sideBarCard{
       display: none !important;
    }
    .sideBar{
        padding-bottom: 2rem;
    }
}
@media screen and (max-width:745px) {
    .logoDiv{
      text-align: center;
      margin: auto;
      padding: 1.5rem .5rem 0;
    }
    .logoDiv img{
        max-width: 50px;
        margin: 0;
        border-radius: 10px;
        padding: .5rem;
    } 
    .logoDiv h2{
        display: none;
    }
    .divTitle,.smallText{
        display: none;
    }
    .menuLink{
        justify-content: center;
    }
    .icon{
        font-size: var(--h1FontSize);
    }
}
@media screen and (max-width:390px) 
{
.menuDiv,.settingsDiv{
    text-align: center;
    margin: auto;
}
.listItem{
    padding: .2rem .5rem;
}
.menuLink{
    justify-content: center;
}
.icon{
    font-size: var(--h2FontSize);
}
}