.activitySection{
    flex-basis: 50%;
}
.heading{
    width: 100%;
    justify-content: space-between;
}
.heading>h1{
    font-size: var(--h2FontSize);
    color: var(--blackColor);
    font-weight: 700;
}
.btn{
    border: 1px solid transparent;
}
.btn:hover{
    border: 1px solid var(--PrimaryColor);
}
.secsContainer{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border: 1px solid red; */
    width: 100%;
    /* wid */

}
.singleCustomer{
    align-items: flex-start;
    justify-content: space-between;
}
.singleCustomer>img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px var(--itemCardColor);
    margin-right: 1rem;
}
.customerDetails{
    flex: 1;
}
.name{
    font-size: var(--h3FontSize);
    font-weight: 600;
    color: var(--blackColor);
    display: block;
}
.customerDetails>small{
    font-weight: 500;
    color: var(--textColor);
    font-size: var(--smallFontSize);
}
.duration{
    color: var(--textColor);
    font-weight: 500;
    font-size: var(--smallestFontSize);
}

@media screen and(max-width:918px){
    .activitySection{
        width: 100%;
    }
    .secsContainer{
        width: 200%;
    }
}

    .activitySection{
        width: 100%;
        /* border: 1px solid red; */
    }
